{% extends "PortfolioPages/galleryBase.html" %}
{% block maintitle %}Christmas Tree Circuit Project {% endblock %}

{% block img %}
    <iframe style="display:block;" width="966" height="605" src="https://www.youtube.com/embed/F5uv_y4t9po" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>{% endblock %}

{% block retro %}A fun project I did in Grade 10 for my Computer technology class. I'm still really proud of the fact I
    made it from scratch, and was actually the first circuit (PCB) I made from scratch.{% endblock %}