{% extends "PortfolioPages/galleryBase.html" %}
{% block maintitle %}Citizen Science Prototype{% endblock %}

{% block img %}<img class="card-img-top"
                    src="{{ url_for('static', filename='/img/csi.png') }}"
                    alt="Card image cap">{% endblock %}

{% block retro %}Worked on a MVP for a patient breathing modality site with the company Phage to help patients take preemptive action against the Covid-19 virus. Above is just an image of the MVP. We are planning to launch later this year.{% endblock %}