{% extends "PortfolioPages/galleryBase.html" %}
{% block maintitle %}Citizen Science Prototype{% endblock %}

{% block img %}<img class="card-img-top"
                    src="{{ url_for('static', filename='/img/taku.png') }}"
                    alt="Card image cap">{% endblock %}

{% block retro %}Worked on a prototype for a patient breathing modality app to help patients take preemptive procautions against the Covid-19 virus. Above is just an image of the prototype, the MVP should be finished soon{% endblock %}