{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block Content %}
    <!-- Page Header -->
    <header class="masthead">
        <div class="container">
            <div class="page-heading" style="padding: 28px">
            </div>
        </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container align-center">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1>{% block maintitle %} {% endblock %}</h1>
                <hr>
                <div style="align-content: center">
                    {% block img %}
                    {% endblock %}

                </div>
                <hr>
                <div class="text-center">
                    <h1>Introspection</h1>
                </div>
                <p class="text-center">
                    {% block retro %}
                    {% endblock %}
                </p>
                <hr>
                <div class=" center">
                    <a class="align-center" style="margin-left: 270px;" href="{{ url_for('portfolio') }}">
                        <button class="btn btn-primary align-center">Back to Gallery</button>
                    </a>
                </div>
                <hr>
            </div>


        </div>
    </div>

{% endblock %}