{% extends "PortfolioPages/galleryBase.html" %}
{% block maintitle %}HostPapa Tech Consultant Job{% endblock %}

{% block img %}<img class="card-img-top"
                    src="{{ url_for('static', filename='/img/consult.png') }}"
                    alt="Card image cap">{% endblock %}

{% block retro %}One of the more recent tech-consultant jobs I did (2020). The client wanted me to set up an environment
    so that he could add and move content around without too much hassle. To this end, I set up a website builder for
    them from Host Papa. While I had used frameworks before like WordPress I had never used a website builder. I was
    surprised that they made it quite easy to edit and add content without much worry. After that was sorted, perhaps
    what I learned the most from this project and why I’m still quite proud of it, is domain routing. The client wanted
    complex domain routing from 4 different domains from Go Daddy to work with the Host Papa site. I was able to quickly
    learn about domain routing and nameservers to make the whole ecosystem run. In the end, I was able to make 4
    separate secure domain connections to the host of the website builder and had learned enough to be able to switch
    the primary domain of the site at the request of the client.
{% endblock %}