{% extends "PortfolioPages/galleryBase.html" %}
{% block maintitle %}Game Jam Games{% endblock %}

{% block img %}<img class="card-img-top"
                    src="{{ url_for('static', filename='/img/jam.png') }}"
                    alt="Card image cap">{% endblock %}

{% block retro %}Probably as long as I live I will be making games. There is something fun and rewarding about making games that I can’t quite put my finger on. Over the last little while (2017ish-2020) I have created a collection of 5 different small, strange and broken games. These game jams generally last a weekend with the main one I have been going to called, <a href="https://ldjam.com/">https://ldjam.com/</a>. I find them to be a great time to explore other aspects of game design apart from purely programming like audio design and graphic design. The only reason I can somewhat “““draw””” is because of experiences like this. They have also been a great way to teach me how to work in teams as it is really hard to make a game in a one-man show. I hope to use the experiences I have gained from this to make a longer more fully fleshed out game, but it will be a couple of years before that shows up in this portfolio gallery.

Game Gallery: <a href="https://techsec.itch.io/">https://techsec.itch.io/</a>
{% endblock %}