{% extends "PortfolioPages/galleryBase.html" %}
{% block maintitle %}Machine that Unlocks Locks{% endblock %}

{% block img %}
    <iframe width="966" height="543" src="https://www.youtube.com/embed/xvX4tJdUkQw" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>{% endblock %}

{% block retro %}
    Looking back this was a really fun project to do for my Grade 10 computer technology class and I learned a lot about
    programming microcontrollers and stepper motors. It is a shame that due to a faulty LED all the work I put in didn't
    pay off. This video was also one of my first attempts at video editing and I learned a lot from it in that regard
    to.
{% endblock %}
