{% extends "PortfolioPages/galleryBase.html" %}
{% block maintitle %}Restack Card Game Company{% endblock %}

{% block img %}<img class="card-img-top"
                    src="{{ url_for('static', filename='/img/overboard.JPG') }}"
                    alt="Card image cap">{% endblock %}

{% block retro %} During the grade 11 school year (2019-2020) I joined a student program designed to help high school students create start-up companies. I was lucky enough to be elected as “VP of Production” for one such company. Our company was a card game company where I led a team of 6 who were responsible for the actual production of the card game. We ended up finding a printing shop to print out the card game where we managed to produce around 50 copies. I also organized multiple production meetings where we produced packaging for the product in the form of card stock tuck boxes. I learned a lot from this experience and it's a real shame that we only got to produce our initial 50 box run due to COVID-19.
{% endblock %}