{% extends "PortfolioPages/galleryBase.html" %}
{% block maintitle %}Zoomers Podcast{% endblock %}

{% block img %}
    <iframe src="https://open.spotify.com/embed-podcast/show/0mP8Lbv15Ovkk3bCJkIDKL" width="100%" height="232"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
{% endblock %}

{% block retro %}
    I started this podcast  all the way back at the beginning of Grade 11. It was a really fun personal project for me
    and my friend, and looking back served as a helpful time capsule of my ideas and thoughts. The conversations I was
    able to have on the podcast were also really interesting and meaningful to me. I also learned a lot about audio
    editing. The audio issues that plagued the first couple of episodes while annoying taught me that sometimes no
    amount of fancy technical process can fix some things.
{% endblock %}
