{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block Content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <span class="subheading">I Think I'm Me Therefore I Am Me</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h3>Basics</h3>
                <p>My name is Anthony, I am currently in high school, I live near the Toronto area, and I really like the Internet!</p>
                <h3>Education</h3>
                <p>I am "lucky" enough to get an IB education from an accredited high school and am currently working
                    towards completing that diploma and then (hopefully) heading off to a good university for engineer.</p>
                <h3>Interests?</h3>
                <p>Tech Projects (like this), video games, especially anything nintendo and sonic, helping out the
                    environment, reading, and rock music. </p>
                <h3>What Did You Do During Quarantine?</h3>
                <p>Write this.</p>
                <h3>Thanks For Reading!</h3>
            </div>
        </div>
    </div>

    <hr>
{% endblock %}
