{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block Content %}
    <!-- Page Header -->
    <header class="masthead">
        <div class="container">
            <div class="page-heading" style="padding: 28px">
            </div>
        </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="post-heading portfolio-text">
            <h1 class="text-center">Portfolio Gallery</h1>
        </div>

        <button class="btn btn-outline-primary text-left btn-portfolio gallerycard" type="button" data-toggle="collapse"
                data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            Web Development
        </button>
        <div class="card container">
            <div class="row collapse show gallerycard" id="collapseExample" data-toggle="collapse"
                 data-target="#collapseExample"
                 aria-expanded="false" aria-controls="collapseExample">
                                <div class="col-sm-4">
                                    <a href="{{ url_for('CSI') }}">
                                        <div class="card cardP">
                                            <img class="card-img-top"
                                                 src="{{ url_for('static', filename='/img/csi.png') }}"
                                                 alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">Citizen Science Project MVP</h5>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                <div class="col-sm-4">
                    <a href="{{ url_for('personal') }}">
                        <div class="card cardP">
                            <img class="card-img-top"
                                 src="{{ url_for('static', filename='/img/personalSite.png') }}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Personal Website</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{{ url_for('goDaddy') }}">
                        <div class="card cardP">
                            <img class="card-img-top"
                                 src="{{ url_for('static', filename='/img/consult.png') }}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">HostPapa Tech Consultant Job</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{{ url_for('quty') }}">
                        <div class="card cardP">
                            <img class="card-img-top"
                                 src="{{ url_for('static', filename='/img/quty.png') }}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Django Tech Consultant Job</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{{ url_for('JA') }}">
                        <div class="card cardP">
                            <img class="card-img-top"
                                 src="{{ url_for('static', filename='/img/JA.png') }}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Deja Bru Start-Up Company Website Creation</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <button class="btn btn-outline-primary text-left btn-portfolio" type="button" data-toggle="collapse"
                data-target="#game"
                aria-expanded="false" aria-controls="collapseExample">
            Game Development
        </button>
        <div class="card container">
            <div class="row collapse show gallerycard" id="game" data-toggle="collapse"
                 data-target="#game"
                 aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-4">
                    <a href="{{ url_for('jam') }}">
                        <div class="card cardP">
                            <img class="card-img-top"
                                 src="{{ url_for('static', filename='/img/jam.png') }}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Game Jam Games</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <button class="btn btn-outline-primary text-left btn-portfolio" type="button" data-toggle="collapse"
                data-target="#circuit"
                aria-expanded="false" aria-controls="collapseExample">
            Circuit Projects
        </button>
        <div class="card container">
            <div class="row collapse show gallerycard" id="circuit" data-toggle="collapse"
                 data-target="#circuit"
                 aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-4">
                    <a href="{{ url_for('christmasTree') }}">
                        <div class="card cardP">
                            <img class="card-img-top"
                                 src="{{ url_for('static', filename='/img/tree.png') }}"
                                 alt="Card image cap"  style="width: 150px; margin-left: 75px;">
                            <div class="card-body">
                                <h5 class="card-title">Christmas Tree Circuit Project</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{{ url_for('lockBreaker') }}">
                        <div class="card cardP">
                            <img class="card-img-top"
                                 src="{{ url_for('static', filename='/img/lock.png') }}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Machine that Unlocks Locks</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <button class="btn btn-outline-primary text-left btn-portfolio" type="button" data-toggle="collapse"
                data-target="#personal"
                aria-expanded="false" aria-controls="collapseExample">
            Other Cool Projects
        </button>
        <div class="card container">
            <div class="row collapse show gallerycard" id="personal" data-toggle="collapse"
                 data-target="#personal"
                 aria-expanded="false" aria-controls="collapseExample">
                <div class="col-sm-4">
                    <a href="{{ url_for('zoomers') }}">
                        <div class="card cardP">
                            <img class="card-img-top"
                                 src="{{ url_for('static', filename='/img/zoomers.png') }}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Zoomers Podcast</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{{ url_for('restack') }}">
                        <div class="card cardP">
                            <img class="card-img-top"
                                 src="{{ url_for('static', filename='/img/overboard.JPG') }}"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Overboard Card Game by Restacks</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <hr>


{% endblock %}